fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
pydantic==2.9.2
pydantic-settings==2.5.2
python-multipart==0.0.12
librosa==0.10.2.post1
soundfile==0.12.1
numpy==1.26.4
scipy==1.13.1
openai-whisper==20231117
pyannote.audio==3.3.1
torch==2.4.1
openai==1.51.0
markdown==3.7
smtplib
email
python-dotenv==1.0.1
aiofiles==24.1.0
jinja2==3.1.4
